body {
    background-image: url(../assets/Fondo.avif);
    font-family: 'Lora', serif;    
    color: #3e2723;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: #6a1b9a;
}

.login-container h1 {
    font-size: 60px;
}

button {
    background-color: #8e24aa;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #6a1b9a;
}

.login-container,
.dashboard,
.task-manager {
    text-align: center;
    padding: 20px;
}

.task-card {
    background: #fff;
    border: 1px solid #ccc;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
}

.task-card.completed {
    text-decoration: line-through;
    background-color: #e1bee7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #4a148c;
    color: white;
}

.navbar h3 {
    color: white;
    font-size: 20px;
}

input {
    margin: 5px;
}

.login-container button {
    display: flex;
    justify-self: center;
    margin-top: 25px;
}

.container h1 {
    font-size: 20px;
    color: #4a148c;
}

.dashboard h2 {
    font-size: 60px;
}

.dashboard p {
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

}